@inherits LayoutComponentBase

@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <Button />
    </main>
    <ProfiraClinicWeb.Components.Layout.Footer.Footer />
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/> *@

<MudThemeProvider @rendermode="InteractiveServer" />
<MudSnackbarProvider @rendermode="InteractiveServer" />
<MudDialogProvider @rendermode="InteractiveServer" />

<CascadingValue Value="this">
    <MudLayout Class="vh-100">
        <MudAppBar Class="bg-app-bar">
            <MudLink Href="/profile">
                <p class="m-0 p-0 align-self-center h5 text-white">@Title</p>
            </MudLink>
            <MudSpacer />
        </MudAppBar>
        <MudMainContent Class="mb-16 pb-16">
            <MudContainer MaxWidth="MaxWidth.Medium" Class="mt-4">
                @Body
            </MudContainer>
        </MudMainContent>
        <VChenWeb.Components.Layout.Footer.Footer />
    </MudLayout>
</CascadingValue>

@code {
    bool _drawerOpen = true;

    public string Title { get; set; } = "SARI RASA";

    public void ChangeTitle(string newTitle)
    {
        Title = newTitle;
        StateHasChanged();
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}

<style>
    .bg-app-bar {
        background: linear-gradient(90deg, #0EAB31 0%, #11FF46 100%);
    }
</style>
