@page "/card"
@using BarcodeStandard
@using SkiaSharp
@using Microsoft.EntityFrameworkCore;
@using VChenWeb.Data;
@using Type = BarcodeStandard.Type
@using Color = MudBlazor.Color
@using Transition = MudBlazor.Transition
@using Size = MudBlazor.Size

<PageTitle>Card</PageTitle>

<MudContainer Class="">
    <div class="pa-4 mb-2 mt-16 d-flex d-md-none justify-content-center align-items-center align-self-center h-100 position-relative" style="margin-top: calc(50vh - 250px) !important;">
        <div style="height: 300px;"></div>
        <MudImage Src="/images/membership-card.png" Class="Membership card Barcode position-absolute" Width="300" Height="300"></MudImage>
        <MudImage Src="@data" Class="Membership card Barcode position-absolute" Style="bottom: 28%; height: 62.5px; width: 300px;"></MudImage>
    </div>
    <MudCard Class="pa-4 mb-8 d-none d-md-flex justify-content-center align-items-center align-self-center h-100 position-relative">
        <div style="height: 400px;"></div>
        <MudImage Src="/images/membership-card.png" Class="Membership card Barcode position-absolute" Width="400" Height="400"></MudImage>
        <MudImage Src="@data" Class="Membership card Barcode position-absolute" Style="bottom: 28%; height: 82px; width: 400px;"></MudImage>
    </MudCard>
</MudContainer>


@inject AppDbContext dbContext
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavManager
@code {
    [CascadingParameter]
    public VChenWeb.Components.Layout.MainLayout Layout { get; set; }
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;

    private string data = "";

    public void getBarcode(string dataToEncode)
    {
        var b = new Barcode();
        b.IncludeLabel = true;
        var img = b.Encode(Type.Code128, dataToEncode, SKColors.Black, SKColors.White, 290, 120);
        var data = img.Encode(SKEncodedImageFormat.Png, 50);
        this.data = "data:image/png;base64," + Convert.ToBase64String(data.ToArray());
    }

    protected override void OnInitialized()
    {
        Layout.ChangeTitle("Your Card");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var token = await ProtectedSessionStore.GetAsync<string>("token");
            if (!token.Success)
            {
                NavManager.NavigateTo("/login");
                return;
            }
            var authPayload = VChenWeb.Utils.Auth.ValidateToken(token.Value);
            if (authPayload == null)
            {
                NavManager.NavigateTo("/login");
                return;
            }

            var userName = VChenWeb.Utils.Auth.GetSubFromSecurityToken(authPayload);

            var customer = await dbContext.MCustomer.Where(c => c.NOMHP == userName).FirstOrDefaultAsync();

            getBarcode(customer.NOMBR);
            StateHasChanged();
        }
    }
}
