<div id="footerNav" class="footer-nav-area px-8" style="background: #C61818;">
    <div class="container px-0 h-100 position-relative">
        <div class="h-100">
            <ul class="list-unstyled h-100 d-flex align-items-center justify-content-between ps-0">
                <FooterItem Icon="fa-home" Href="/">Home</FooterItem>
                <FooterItem Icon="fa-shopping-cart" Href="activity">Activity</FooterItem>
                <FooterItem Icon="fa-vcard" Href="card">Card</FooterItem>
                <FooterItem Icon="fa-user" Href="profile">Profile</FooterItem>
            </ul>
        </div>
    </div>
</div>

@code {

}
