<div class="d-flex justify-content-around align-items-center">
    <MenuItem Src="/images/menu/product.jpeg" Title="Produk"></MenuItem>
    <MenuItem Src="/images/menu/treatment.png" Title="Perawatan"></MenuItem>
    <MenuItem Src="/images/menu/point.jpeg" Title="Point Reward"></MenuItem>
</div>

@code {

}
